<main>
<h1>Formulario de Resolución</h1>

<form id="formularioResolucion"
      method="POST"
      class="formulario"
      data-id-resolucion="<%= datos && datos.id_resoluciones ? datos.id_resoluciones : '' %>"
      data-rol-usuario="<%= usuario.rol %>">


  <div class="form-grid">
    <div class="form-group">
      <label for="curso">Nombre del curso:</label>
      <input type="text" id="curso" name="curso" required value="<%= datos ? datos.curso : '' %>"
      <%= usuario.rol === "administrativo" ? "readonly" : "" %>>
       <% if (usuario.rol === "administrativo") { %>
        <button type="button" class="toggle-btn" data-input="curso">Editar</button>
      <% } %>
    </div>
   
    <!-- <div class="form-group">
      <label for="titulo_organizador">Título del organizador (ej. "el Lic.", "la Ing."):</label>
      <input type="text" id="titulo_organizador" name="titulo_organizador" required value="<%= datos ? datos.titulo_organizador : '' %>"
      
      <%= usuario.rol === "administrativo" ? "readonly" : "" %>>
       <% if (usuario.rol === "administrativo") { %>
        <button type="button" class="toggle-btn" data-input="titulo_organizador">Editar</button>
      <% } %>
    </div> -->


    <div class="form-group">
      <label for="cohorte">Número de cohorte:</label>
      <select name="cohorte" id="cohorte" required <%= usuario.rol === "administrativo" ? "readonly" : "" %>>
        <option value="PRIMERA" <%= datos && datos.cohorte === "PRIMERA" ? "selected" : "" %>>PRIMERA</option>
        <option value="SEGUNDA" <%= datos && datos.cohorte === "SEGUNDA" ? "selected" : "" %>>SEGUNDA</option>
        <option value="TERCERA" <%= datos && datos.cohorte === "TERCERA" ? "selected" : "" %>>TERCERA</option>
        <option value="CUARTA" <%= datos && datos.cohorte === "CUARTA" ? "selected" : "" %>>CUARTA</option>
        <option value="QUINTA" <%= datos && datos.cohorte === "QUINTA" ? "selected" : "" %>>QUINTA</option>
        <option value="SEXTA" <%= datos && datos.cohorte === "SEXTA" ? "selected" : "" %>>SEXTA</option>
        <option value="SÉPTIMA" <%= datos && datos.cohorte === "SÉPTIMA" ? "selected" : "" %>>SÉPTIMA</option>
      </select>
       <% if (usuario.rol === "administrativo") { %>
        <button type="button" class="toggle-btn" data-input="cohorte">Editar</button>
      <% } %>
    </div>

    <div class="form-group">
      <label for="denominacion_docente">Título del docente:</label>
      <input type="text" id="denominacion_docente" name="denominacion_docente" required value="<%= datos ? datos.denominacion_docente : '' %>"
      <%= usuario.rol === "administrativo" ? "readonly" : "" %>>
       <% if (usuario.rol === "administrativo") { %>
        <button type="button" class="toggle-btn" data-input="denominacion_docente">Editar</button>
      <% } %>
    </div>

    <div class="form-group">
      <label for="docente">Nombre del docente:</label>
      <input type="text" id="docente" name="docente" required value="<%= datos ? datos.docente : '' %>"
      <%= usuario.rol === "administrativo" ? "readonly" : "" %>>
       <% if (usuario.rol === "administrativo") { %>
        <button type="button" class="toggle-btn" data-input="docente">Editar</button>
      <% } %>
    </div>

     <div class="form-group">
   
    <legend>Género del docente:</legend>

    <div class="radio-group">
      <label class="radio-option">
        <input type="radio" name="genero" value="hombre" required>
        Hombre
      </label>

      <label class="radio-option">
        <input type="radio" name="genero" value="mujer">
        Mujer
      </label>
    </div>
  
       <% if (usuario.rol === "administrativo") { %>
        <button type="button" class="toggle-btn" data-input="docente">Editar</button>
      <% } %>
    </div>

    <div class="form-group">
      <label for="alumnos">Curso dirigido a:</label>
      <input type="text" id="alumnos" name="alumnos" required value="<%= datos ? datos.alumnos : '' %>"
      <%= usuario.rol === "administrativo" ? "readonly" : "" %>>
       <% if (usuario.rol === "administrativo") { %>
        <button type="button" class="toggle-btn" data-input="alumnos">Editar</button>
      <% } %>
    </div>

    <div class="form-group full-width">
      <label for="segundos_objetivos">Objetivo general:</label>
      <textarea name="segundos_objetivos" id="segundos_objetivos" style="resize: none;" rows="6" cols="50" <%= usuario.rol === "administrativo" ? "readonly" : "" %>><%= datos ? datos.segundos_objetivos : '' %></textarea>
     <% if (usuario.rol === "administrativo") { %>
        <button type="button" class="toggle-btn" data-input="segundos_objetivos">Editar</button>
      <% } %>
    </div>
    
    <div class="form-group full-width">
      <label for="objetivos">Objetivo específico:</label>
      <textarea name="objetivos" id="objetivos" style="resize: none;" rows="6" cols="50" <%= usuario.rol === "administrativo" ? "readonly" : "" %>><%= datos ? datos.objetivos : ''%></textarea>
     <% if (usuario.rol === "administrativo") { %>
        <button type="button" class="toggle-btn" data-input="objetivos">Editar</button>
      <% } %>
    </div>


    

    <div class="form-group">
      <label for="clases">Cantidad de clases:</label>
      <input type="number" id="clases" name="clases" required value="<%= datos ? datos.clases : '' %>"
      <%= usuario.rol === "administrativo" ? "readonly" : "" %>>
     <% if (usuario.rol === "administrativo") { %>
        <button type="button" class="toggle-btn" data-input="clases">Editar</button>
      <% } %>
    </div>

    <div class="form-group">
      <label for="horas_clase">Duración de cada clase (horas):</label>
      <input type="number" id="horas_clase" name="horas_clase" required value="<%= datos ? datos.horas_clase : '' %>"
      <%= usuario.rol === "administrativo" ? "readonly" : "" %>>
     <% if (usuario.rol === "administrativo") { %>
        <button type="button" class="toggle-btn" data-input="horas_clase">Editar</button>
      <% } %>
    </div>

    <!-- <div class="form-group">
      <label for="horas_totales">Horas totales del curso:</label>
      <input type="number" id="horas_totales" name="horas_totales" required
        value="<%= datos ? datos.horas_totales : '' %>"
        <%= usuario.rol === "administrativo" ? "readonly" : "" %>>
        
     <% if (usuario.rol === "administrativo") { %>
        <button type="button" class="toggle-btn" data-input="horas_totales">Editar</button>
      <% } %>
      </div> -->

    <div class="form-group">
      <label for="minimo">Cantidad mínima de inscriptos:</label>
      <input type="number" id="minimo" name="minimo" required value="<%= datos ? datos.minimo : '' %>"
      <%= usuario.rol === "administrativo" ? "readonly" : "" %>>
     <% if (usuario.rol === "administrativo") { %>
        <button type="button" class="toggle-btn" data-input="minimo">Editar</button>
      <% } %>
    </div>

    <div class="form-group">
      <label for="maximo">Cantidad máxima de inscriptos:</label>
      <input type="number" id="maximo" name="maximo" required value="<%= datos ? datos.maximo : '' %>"
      <%= usuario.rol === "administrativo" ? "readonly" : "" %>>
     <% if (usuario.rol === "administrativo") { %>
        <button type="button" class="toggle-btn" data-input="maximo">Editar</button>
      <% } %>
    </div>

    <div class="form-group">
      <label for="mes_curso">Mes de inicio:</label>
     
      <select name="mes_curso" id="mes_curso" <%= usuario.rol === "administrativo" ? "readonly" : "" %>>
        <option value="Enero" <%= datos && datos.mes_curso === "Enero" ? "selected" : "" %>>Enero</option>
        <option value="Febrero" <%= datos && datos.mes_curso === "Febrero" ? "selected" : "" %>>Febrero</option>
        <option value="Marzo" <%= datos && datos.mes_curso === "Marzo" ? "selected" : "" %>>Marzo</option>
        <option value="Abril" <%= datos && datos.mes_curso === "Abril" ? "selected" : "" %>>Abril</option>
        <option value="mayo" <%= datos && datos.mes_curso === "Mayo" ? "selected" : "" %>>Mayo</option>
        <option value="Junio" <%= datos && datos.mes_curso === "Junio" ? "selected" : "" %>>Junio</option>
        <option value="Julio" <%= datos && datos.mes_curso === "Julio" ? "selected" : "" %>>Julio</option>
        <option value="Agosto" <%= datos && datos.mes_curso === "Agosto" ? "selected" : "" %>>Agosto</option>
        <option value="Septiembre" <%= datos && datos.mes_curso === "Septiembre" ? "selected" : "" %>>Septiembre</option>
        <option value="Octubre" <%= datos && datos.mes_curso === "Octubre" ? "selected" : "" %>>Octubre</option>
        <option value="Noviembre" <%= datos && datos.mes_curso === "Noviembre" ? "selected" : "" %>>Noviembre</option>
        <option value="Diciembre" <%= datos && datos.mes_curso === "Diciembre" ? "selected" : "" %>>Diciembre</option>
      </select>
     <% if (usuario.rol === "administrativo") { %>
        <button type="button" class="toggle-btn" data-input="mes_curso">Editar</button>
      <% } %>
</div>
      <div class="form-group">
      <label for="año_curso">Año de inicio:</label>
      <select name="año_curso" id="año_curso" <%= usuario.rol === "administrativo" ? "readonly" : "" %>>
        <option value="2023" <%= datos && datos.año_curso === "2023" ? "selected" : "" %>>2023</option>
        <option value="2024" <%= datos && datos.año_curso === "2024" ? "selected" : "" %>>2024</option>
        <option value="2025" <%= datos && datos.año_curso === "2025" ? "selected" : "" %>>2025</option>
        <option value="2026" <%= datos && datos.año_curso === "2026" ? "selected" : "" %>>2026</option>
        <option value="2027" <%= datos && datos.año_curso === "2027" ? "selected" : "" %>>2027</option>
        <option value="2028" <%= datos && datos.año_curso === "2028" ? "selected" : "" %>>2028</option>
        <option value="2029" <%= datos && datos.año_curso === "2029" ? "selected" : "" %>>2029</option>
      </select>
     <% if (usuario.rol === "administrativo") { %>
        <button type="button" class="toggle-btn" data-input="año_curso">Editar</button>
      <% } %>

    </div>

     <div class="form-group">
      <label for="expediente">Número de expediente:</label>
      <input type="text" id="expediente" name="expediente"
      value="<%= datos ? datos.expediente : '' %>"
      <%= usuario.rol === "administrativo" ? "readonly" : "" %>
      <%= usuario.rol === "administrativo" ? "required" : "" %>>
      <% if (usuario.rol === "administrativo") { %>
        <button type="button" class="toggle-btn" data-input="expediente">Editar</button>
      <% } %>
    </div>

    <div class="form-group">
      <label for="resolucion_interes_departamental">Número de resolución interés departamental:</label>
      <input type="text" id="resolucion_interes_departamental" name="resolucion_interes_departamental"
        value="<%= datos ? datos.resolucion_interes_departamental : '' %>"
        <%= usuario.rol === "administrativo" ? "readonly" : "" %>
        <%= usuario.rol === "administrativo" ? "required" : "" %>>
         <% if (usuario.rol === "administrativo") { %>
        <button type="button" class="toggle-btn" data-input="resolucion_interes_departamental">Editar</button>
      <% } %>
    </div>



<% if (!rellenaFormulario) { %>
    <div class="form-group">
      <label for="fecha">Fecha de la resolución:</label>
      <input type="date" id="fecha" name="fecha" required value="<%= datos ? datos.fecha : '' %>">
    </div>

    <div class="form-group">
      <label for="numero_resolucion">Número de resolución</label>
      <input type="text" id="numero_resolucion" name="numero_resolucion"
        value="<%= datos ? datos.numero_resolucion : '' %>" required>
    </div>
<% } %>
    
  </div>

  <div class="actions">
    <% if (rellenaFormulario) { %>

    <button id="guardar-btn" type="submit" name="accion" value="guardar">Guardar</button>


    <button id="ver-borrador-btn" type="submit" name="accion" value="ver_borrador">Guardar y Ver PDF</button>
    
    
    <button id="enviar-btn" type="submit" name="accion" value="enviar">Guardar y Enviar</button>
    
    <% } else if (usuario.rol === "administrativo") { %>
      <!-- <button type="submit" name="accion" value="guardar">Guardar borrador</button> -->
      <button  id="ver-borrador-btn-admin" type="button" name="accion" value="ver_borrador_admin">Previsualizar pdf</button>
      <button  id="guardar-pdf" type="submit" name="accion" value="generar_pdf">Generar resolución</button>
      <!-- <a href="/resoluciones/<%= datos.id_resoluciones %>/pdf" target="_blank" class="imprimir-btn">Imprimir resolución</a> -->
    <% } %>
   
  </div>

</form>
</main>
<!-- <script src="/toastr/build/toastr.min.js"></script> -->
<script src="/js/resolucionForm.js"></script>
<script>
  const botones = document.querySelectorAll(".toggle-btn");

  botones.forEach(boton => {
    boton.addEventListener("click", () => {
      const inputId = boton.getAttribute("data-input"); 
      const input = document.getElementById(inputId);

      if (input.hasAttribute("readonly")) {
        input.removeAttribute("readonly");
        boton.textContent = "Bloquear";
        boton.classList.add('bloquear');     // rojo
        input.focus();
      } else {
        input.setAttribute("readonly", true);
        boton.textContent = "Editar";
        boton.classList.remove('bloquear');  // verde
      }
    });
  });
</script>

  