      
  <h1>Resoluciones guardadas</h1>
  <table>
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Curso</th>
        <th>Organizador</th>
        <th>Fecha Resolución</th> 
        <!-- TODO definir si la fecha es de la carga o de la resolución -->
        <th>Estado</th>
        <th>N° Resolución</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% if (resoluciones.length === 0) { %>
        <tr>
          <td colspan="6">No hay resoluciones guardadas</td>
        </tr>
      <% } else { %>
        <% resoluciones.forEach(res => { %>
          <tr>
            <td><%= res.id_resoluciones%></td>
            <td><%= res.curso %></td>
            <td><%= res.autor.nombre%> <%= res.autor.apellido%></td>
            <td><%= res.fecha %></td>
            <td>
              <% if (res.estado === 'guardado') { %>
                <span class="badge badge-warning">Guardada sin enviar</span>
              <% } else if (res.estado === 'pendiente') { %>
                <span class="badge badge-warning">Pendiente</span>
              <% } else if (res.estado === 'emitida') { %>
                <span class="badge badge-success">Emitida</span>
              <% } else if (res.estado === 'modificado') { %>
                <span class="badge badge-success">Modificado</span>

              <% } else { %>
                <span class="badge badge-secondary">Desconocido</span>
              <% } %>
            <td><%= res.numero_resolucion || '—' %></td>
            <td>
              <a href="/resoluciones/<%= res.id_resoluciones %>" class="btn">Editar</a>
              
              <% if (res.numero_resolucion) { %>
                <a href="/resoluciones/<%= res.id_resoluciones %>/pdf" target="_blank" class="btn">Crear PDF</a>
              <% } %>
              <form action="/resoluciones/<%= res.id_resoluciones %>?_method=DELETE" method="POST" style="display:inline;">
                <button type="submit" class="btn btn-delete" onclick="return confirm('¿Estás seguro de que deseas eliminar esta resolución?');">Eliminar</button>
              </form>
              


            </td>
          </tr>
        <% }) %>
      <% } %>
    </tbody>
  </table>
